:root {
    --primary-text-color: #212121;
    --secondary-tex-color: #757575;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --primary-bgc-color: #2F303A;
    --secondary-bgc-color: #F5F4FA;
    --black-color: #000;
    --hero-btn-hover-color: #188CE8;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --page-border: #ECECEC;
    --item-border: #EEEEEE;
    --icon-color: #AFB1B8;

}